# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Environment
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.vercel
next-env.d.ts
.idea/
.vscode/

#sitemap
/public/sitemap.xml
/public/sitemap_temples.xml
/public/sitemap_cities.xml
/public/sitemap_index.xml